{% extends 'base.html' %}
{% load static %}
{% block css %}
<link href="{% static 'css/poster.css' %}" rel="stylesheet">
{% endblock %}
{% block poster_corrent %}
active
{% endblock %}
{% block title %}Фильмы{% endblock %}
{% block content %}
<h2 class="text-center">
    <span class="site-heading-upper text-light mb-3">Афиша</span>
</h2>
<section class="clearfix">
    <div class="container">
        <div class="watch row">
            {% for movie in movies %}
            <!-- Card Dark -->
            <div class="card col-lg-3 px-0">
                <!-- Card image -->
                <div class="view overlay">
                    <img class="card-img-top" src="/media/{{ movie.poster }}" alt="{{ movie.title }}">
                    <a href="/movie/{{ movie.slug }}">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <!-- Card content -->
                <div class="card-body elegant-color white-text rounded-bottom">
                    <!-- Title -->
                    <h4 class="card-title">{{ movie.title }}</h4>
                    <hr class="grey lighten-5">
                    <!-- Text -->
                    <p class="card-text white-text mb-4">
                        Сеансы с {{ movie.premiere_date }}
                        <br>
                        <br>
                        {{ movie.description|slice:":100" }}...
                    </p>
                    <!-- Link -->
                    <div class="text-center">
                        <a href="#" class="btn btn-danger">Купить билет</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}